main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(1.75rem, 1.8vw, 5rem);
    margin-top: clamp(10rem, 21vw, 24rem);

    .hero-section {
      display: grid;
      grid-template-areas:
      "hero-text"
      "hero-images"
      "hero-btn";
      grid-template-rows: auto auto auto;
      grid-template-columns: 1fr;
      padding: clamp(2rem, 2.5vw, 5rem);
      place-items: center;

      @media (min-width: 768px) {
        grid-template-areas:
        "hero-text hero-images"
        "hero-btn hero-images";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: clamp(1.75rem, 1.8vw, 5rem);
      }

      .hero-text {
        grid-area: hero-text;
        display: flex;
        flex-direction: column;
        gap: clamp(1.75rem, 1.8vw, 5rem);

        h2 {
          text-align: center;
          font-size: clamp(1.5rem, 2.5vw, 5rem);
        }

        h3 {
          text-align: center;
          font-size: clamp(.85rem, 1.5vw, 2.75rem);
          color: var(--text-secondary)
        }
      }

      .hero-images {
          grid-area: hero-images;
          display: grid;
          grid-template-areas:
          "hero-image1 hero-image2"
          "hero-image3 hero-image4";
          grid-template-rows: auto auto;
          grid-template-columns: 1fr 1fr;
          place-items: center;
          gap: clamp(1.75rem, 1.8vw, 5rem);
          background: rgba(0, 0, 0, 0.2);
          border-radius: 2rem;
          padding: clamp(2rem, 2.5vw, 5rem);

          img {
            max-width: clamp(8rem, 15vw, 21rem);
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 2rem;
          }
        }
      .hero-btn {
        grid-area: hero-btn;
        display: flex;
        justify-content: center;
        align-items: center;

       a {
         button {
          padding: clamp(1rem, 1.8vw, 4rem) clamp(1rem, 3vw, 10rem);
          border-radius: 2rem;
          border: 1px white solid;
          background: none;
          color: white;
          font-size: clamp(1.5rem, 2.5vw, 5rem);
          cursor: pointer;
          transition: all 300ms ease-in-out;

          &:hover {
            background: var(--item-hover-bg);
          }

          &:active {
            transform: scale(0.95);
          }
        }
       }
      }
   }

   .dynamic-section {
    padding: clamp(2rem, 2.5vw, 5rem);
    display: grid;
    grid-template-areas:
    "dynamic-title"
    "dynamic-steps-and-imgs";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: clamp(1rem, 5vw, 10rem);

    .dynamic-title {
      grid-area: dynamic-title;
      display: flex;
      flex-direction: column;

      h2 {
        text-align: center;
        font-size: clamp(1.5rem, 2.5vw, 5rem);
      }
    }

    .dynamic-steps-and-imgs {
      grid-area: dynamic-steps-and-imgs;
      display: flex;
      flex-direction: column;

      ol {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: clamp(2rem, 2.5vw, 5rem);

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: clamp(1.75rem, 1.8vw, 5rem);

        @media (min-width: 768px) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 2rem;
          place-items: center;
        }

          p {
            text-align: center;
            font-size: clamp(1.15rem, 2.5vw, 5rem);
          }

          .dynamic-image-style {
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.25);
            width: clamp(11.5rem, 12.5vw, 12rem);
            height: clamp(11.5rem, 12.5vw, 12rem);
            padding: clamp(1rem, 1.5vw, 1.25rem);
            aspect-ratio: 1 / 1;
            border-radius: 2rem;

            @media (min-width: 768px) {
              width: clamp(20rem, 25vw, 50rem);
              height: clamp(15rem, 16vw, 30rem);
              aspect-ratio: auto;
            }

            img {
              width: clamp(9rem, 10vw, 12.5rem);
              height: clamp(9rem, 10vw, 12.5rem);
              aspect-ratio: 1 / 1;
              border-radius: 2rem;

              @media (min-width: 768px) {
                width: clamp(12.5rem, 20vw, 45rem);
                height: clamp(11.5rem, 12vw, 25rem);
                object-fit: cover;
                aspect-ratio: auto;
              }
            }
          }
        }
      }
   }
  }
}
